.heading{
    position: relative;
    margin: 2px;
}

.logo{
    background: url("../logos/Logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    min-height: 360px;
}

.signup{
    position: relative;
    right: 5px;
}