@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic|Righteous&display=swap');

.picture {
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.pic-01{
     background-image: url("/assets/images/imageslide/one.jpg");
}

.pic-02{
     background-image: url("/assets/images/imageslide/two.jpg");
}

.pic-03{
 background-image: url("/assets/images/imageslide/three.jpg");
}


.pic-04{
 background-image: url("/assets/images/imageslide/four.jpg");
}

.carousel-height {
    height: 80vh;
}

body{
    font-family: "Carrois Gothic", sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

.logo{
color: #D99F7E;
font-family: "Righteous", sans-serif;
}

/*---------------------------------------- Navigation --------------------- */

.nav-bg-color{
    background-color:#36454f;
}

  #navbarNav{
    position: absolute;
    right: 20px;
}

.nav-item a{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#D99F7E;
}

.nav-info a:hover{
    color:#D95436;
}

.membership span:hover{
    color:yellow;
}

.navbar-toggler-icon{
    color:#D99F7E;
    font-size:28px;
    padding-top: 8px;
}

/*---------------------------------------- Hero image --------------------- */
/*
.hero img{
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
*/
.hero-text{
    position: absolute;
    z-index: 1;
    text-align:center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-heading-text{
    font-size:100px; 
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #592E2E;
    text-shadow:2px 2px 20px#fff; 
}

.hero-text p{
    color: #8FB6BF;
    font-size: 50px;
    text-transform: uppercase;
    -webkit-text-stroke: 0.25px;
    -webkit-text-stroke-color:#592E2E ;
    font-weight: bold;
}

.offer-text {
  font-weight: 900;
  font-size: 50px;
  color: red;
}

.offer-text .letter {
  display: inline-block;
  line-height: 1em;
}
/*----------------------------------------------------- Hero video */

.hero-video{
    width: 80vw;
    height: 100%vh;
}

.video-inline{
    text-align: center;
}

/*----------------------------------------------------- Footer */
.footer{
    background-color:#36454f;
    color:#D99F7E;
}

.foot-address{   
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 1px;
    padding-bottom: 1px;  
}

.footer h4{   
    padding-top: 3px;
    margin-bottom: 2px;
}

.footer-social-icons {
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
}

.footer-social-icons i:hover {
    color:#D95436; 
}

.join-now{
    text-align: center;
}

.footer-membership-link{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#D99F7E;
    border: 2px solid #D99F7E;
    border-radius: 2px;
    padding-top:2px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}

.footer-membership-link:hover{
    color:yellow;
    border-color: transparent;

}


/*----------------------------------------------------- Media Query */


@media only screen and (max-width: 443px) {
  #mobile-view {
       display: block;
   }
   
.carousel-height {
    height: 40vh;
}

.picture{
    height: 100%;
}

.large-screen{
    display: none;
}
}

@media only screen  and (min-width: 444px) {
  .mobile-view { 
      display: none;
   }  
}
